section.gallery
	.container
		.row
			.col-md-12
					ul.gallery-wrap
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-1.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-2.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-3.jpg", alt="")
						li.item-text.gallery-item
							p 
									span Фотогаллерия 
							p природа
							p баня / ресторан 
							p свадьба
							p коттеджы
						li.gallery-item.last-img
							a(href="#")
								img(src="img/gallery-img-4.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-5.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-6.jpg", alt="")