section.island
	.container
			.row
				.col-md-12
					.island-main-img-wrap
						.island-main-img
							img(src="img/island_bgr.jpg")
			.row
				.col-md-7.push-md-5
					.island-logo
						img(src="img/island-logo.png", alt="")
			.row
				.col-md-6.push-md-6
					.island-text-wrap
						.island__text Настоящий остров, окруженный водной гладью. Тишина - мир спокойствия и уюта, прочь от городской суеты.
			.row
				.col-md-12
					.booking-date-wrap
						form
							.booking__date
							input(type="text" class="input-item-1" id="	input-item-1" name="daterange" )
							input(type="text" class="input-item-2" name="daterange")
							input(type="submit" class="booking-btn" value="Бронировать")



