section.place
	.container
		.row
			.col-md-7
				h2.place-title Почувствуйте настоящий  
					span комфортный отдых с природой
	.container
		.row
			.col-md-4
				.place__items.island
					.island-title Настоящий остров			
			.col-md-4
				.place__items.services 
					.services-title Услуги и сервис
			.col-md-4
				.place__items.event 
					.event-title Орнанизация праздников
		.row
			.col-md-12
				.place__items-fishing 
					.fishing-title Рыбалка