.top-line{
	background-color: #F9F9F9;
	border-top:1px #EAEAEA solid;
	border-bottom:1px #EAEAEA solid;
	.logo-wrap{
		padding: 8px 0 10px;

	}
	.logo-text{
		position: relative;
		bottom:7px;
		font-size: 	18px;
		font-family: $open-s-l;
		&:before{
			height: 1px;
			width: 22px;
			background-color: #005862;
			content:" ";
			margin: 0  20px 0 18px;
			display: inline-block;
			margin-bottom: 4px;

		}
	}
	.lg-wrap{
		padding: 23px 0 ; 
	}
	.lg{
		background-color:#40BFB6;
		text-align: center;
		padding:10px 12px;
		color:#fff;
		border-radius: 17px;
		cursor: pointer;

	}
	.phone-wrap{
		padding-top: 30px;
		text-align: right;
		.phone{
			font-family: $open-s-r;
			font-size: 26px;
			color: #242e37;
		}

	}

}
.main-menu{
	margin:6px 10px;
	ul{
		padding:0;
		margin:0;
		list-style-type: none;
	}
}

.main-menu-wrap{
	display: flex;
	flex-direction: row;
}
nav{
	margin-left: -15px;
}
.main-menu__items{
	a{
		text-decoration: none;
		color:#000;
		font-size: 16px;
		font-family: $open-s-l;
		padding: 10px 14px;
		display: block;

		&:hover{
			border-radius: 50px;
			border-top-left-radius: 0;
			background-color: #3EB1A5;
			
			
			
		}

		
	}
	
}
.booking-wrap{
	padding: 10px 0;
	font-size: 16px;
	font-family: $open-s-r;
	text-align: center;
	img{
		vertical-align: middle;
		margin: 0 5px;
	}

	

}